.fairy-tale {
    &__title span {
        margin-left: 185px;
        @media (max-width: 600px) {
            margin-left: 110px;
        }
        @media (max-width: 370px) {
            margin-left: 90px;
        }
    }
    &__slider {
        width: 50%;
        @media (max-width: 990px) {
            width: 100%;
        }
        .slick-btn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 5;
            border: none;
            background-color: transparent;
            cursor: pointer;
            outline: none;
        }
        .slick-prev {
            left: 0;
        }
        .slick-next {
            right: 0;
        }
    }
    &__item img {
        width: 100%;
        @media (max-width: 600px) {
            height: 50vh;
            width: 100%;
            object-fit: cover;
        }
    }
    &__inner {
        position: relative;
    }
    &__container {
        max-width: 1230px;
        padding: 0 30px;
        margin: 0 auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        @media (max-width: 990px) {
            position: static;
        }
    }
    &__body {
        width: 50%;
        margin-left: auto;
        padding-left: 55px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        @media (max-width: 990px) {
            width: 100%;
            padding-left: 0;
        }
    }
    &__text {
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        font-family: 'Roboto Condensed-Light';
        padding: 10px 0;
    }
    &__body-title {
        font-family: 'RobotoCondensed-Regular';
        @media (max-width: 990px) {
            padding-bottom: 10px;
        }
    }
}