.fairy-tale {
    &__title span {
        margin-left: 185px;
    }
    &__slider {
        width: 50%;
        .slick-btn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 5;
            border: none;
            background-color: transparent;
            cursor: pointer;
            outline: none;
        }
        .slick-prev {
            left: 0;
        }
        .slick-next {
            right: 0;
        }
    }
    &__inner {
        position: relative;
    }
    &__container {
        max-width: 1230px;
        padding: 0 30px;
        margin: 0 auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    &__body {
        width: 50%;
        margin-left: auto;
        padding-left: 55px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    &__text {
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        font-family: 'Roboto Condensed-Light';
        padding: 10px 0;
    }
    &__body-title {
        font-family: 'RobotoCondensed-Regular';
    }
}