.header {
    height: 100vh;
    background: url('../images/header-bg.jpg') bottom (center/cover) no-repeat;
    &__top {
        display: flex;
        justify-content: space-between;
        padding-top: 72px;
        font-family: 'RobotoCondensed-Regular';
        font-size: 24px;
        line-height: 28px;
        @media (max-width: 660px) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    &__phone {
        padding-left: 40px;
        position: relative;
        &::before {
            content: '';
            background: url('../images/phone-icon.svg');
            position: absolute;
            width: 30px;
            height: 30px;
            left: 0;
        }
    }
    &__title {
        margin-top: 152px;
        text-align: center;
        // font-size: 250px;
        @include adaptiv-font(250,
        65);
        line-height: 334px;
        line-height: 133%;
        font-family: 'Balqis';
        font-weight: 300;
        span {
            display: block;
            margin-top: -66px;
            margin-right: 100px;
            text-align: right;
            font-family: 'RobotoCondensed-LightItalic';
            // font-size: 56px;
            @include adaptiv-font(56,
            20);
            line-height: 66px;
            font-weight: 300;
            @media (max-width: 1100px) {
                margin-top: -55px;
            }
            @media (max-width: 790px) {
                margin-top: -50px;
                margin-right: 75px;
            }
            @media (max-width: 660px) {
                margin-top: -44px;
                margin-right: 55px;
            }
            @media (max-width: 430px) {
                margin-top: -40px;
                margin-right: 29px;
            }
            @media (max-width: 320px) {
                margin-top: -35px;
                margin-right: -10px;
            }
        }
    }
    .menu {
        @media (max-width: 660px) {
            width: 100%;
            text-align: center;
            margin-bottom: 35px;
        }
        &__list-item {
            display: inline-block;
        }
        &__list-item+.menu__list-item {
            margin-left: 52px;
            @media (max-width: 430px) {
                margin-left: 11px;
            }
        }
        &__list-link {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}