.title {
    font-size: 96px;
    line-height: 128px;
    color: #E2AB3F;
    font-family: 'Balqis';
    font-weight: 300;
    margin-bottom: 100px;
    span {
        display: block;
        font-size: 24px;
        line-height: 28px;
        color: #000000;
        font-family: 'RobotoCondensed-LightItalic';
        margin-top: -30px;
    }
}